body
{      
	background-color: #93D0FF;
	color: #000000;
}


table, td, th
{ 
	margin: auto;
	border: 1px solid gray;
	font-family: Roboto, sans-serif;
	padding: 10px;
	width: 700px;
}

li
{
	font-family: Roboto, sans-serif;
}

figure
{
	font-style: italic;
	text-indent: 0;
	margin: 0.5em;
	padding: 0.5em;
}        
 
header
{ 
	background-color: #D2B48C; 
	padding: 0.5em;
	color: #191970;
	width: 100%;
}

h1, h2, h3
{
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 10px;
	        
}
nav
{ 
	float: left;
	width: 150px;
	padding: 10px;
}

footer
{
	background-color: #D2B48C; 
	color: #191970;
	text-align: center;
	padding: 20px;
	width: 100%;
}
     	 
	