table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 500px; 
  display: inline-table;
  margin: auto;
}

th {
  text-align: left;
  padding: 16px;
  background-color: #ffffff
}

td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #e0e0e0
}
tr:nth-child(even) {
  background-color: #ffffff
}

h2
{
	color: #253C73;
}

.container-center {
	margin: auto;
}

table
{
	display: inline-table;
}